# EditorConfig: https://editorconfig.org/

# Top-Most Editorconfig File
root = true

# Default Settings for All Files
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Settings Specific to Python Files
[{.*py,*.yml,*.yaml,*.md}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
