**/.idea/
.vscode
.vscode/*
.coverage

# outputs
**/build/
**/dist/
**/.coverage/
cdk.out/
cdk.context.json
cdk-outputs*.json

# python
__pycache__/

# node
**/node_modules/

# log files
**/*.log

# temporary folders
tmp/
**/temp/
**/.cache/
**/.temp/

# macos
**/.DS_Store

# dotenv
.env
.env.*

ui/.yarn/*
!ui/.yarn/patches
!ui/.yarn/plugins
!ui/.yarn/releases
!ui/.yarn/sdks
!ui/.yarn/versions

# Go generator
harbor-sbom-generator/main
harbor-sbom-generator/*.zip

# api documentation
harbor-documentation/openapi.json

# rust
**/target/
**/.cargo/
**/Cargo.lock

# harbor-rs
harbor-rs/tests/fixtures/debug.log
harbor-rs/tests/fixtures/pilot-request.json
harbor-rs/tests/fixtures/HARBOR_PILOT_REQUEST

