
# outputs
**/build/
**/dist/
**/.coverage/
cdk.out/

# python
__pycache__/

# node
**/node_modules/

# log files
**/*.log

# temporary folders
tmp/
**/temp/
**/.cache/
**/.temp/

# macos
**/.DS_Store

# dotenv
.env
.env.*

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
