package main

_local: {
  awsProfile: "dev profile name goes here"
	secretNames: {
		DbConnectionJson: "secrets manager key name goes here"
		SnykToken:        "secrets manager key name goes here"
		IonChannelToken:  "secrets manager key name goes here"
		GitHubPAT:        "secrets manager key name goes here"
	}
}
