dotenv
# export DB_CONFIG=$(aws --profile ${AwsProfile} secretsmanager get-secret-value --secret-id ${DbConfig} --query SecretString --output text)
export SNYK_TOKEN=$(aws --profile ${AwsProfile} secretsmanager get-secret-value --secret-id ${SnykToken} --query SecretString --output text)
export ION_CHANNEL_TOKEN=$(aws --profile ${AwsProfile} secretsmanager get-secret-value --secret-id ${IonChannelToken} --query SecretString --output text)
export GITHUB_PAT=$(aws --profile ${AwsProfile} secretsmanager get-secret-value --secret-id ${GitHubPAT} --query SecretString --output text)
export JWT_KEYS=$(aws --profile ${AwsProfile} secretsmanager get-secret-value --secret-id ${JwtKeys} --query SecretString --output text)
export JWT_CLIENT_ID=$(aws --profile ${AwsProfile} secretsmanager get-secret-value --secret-id ${JwtClientId} --query SecretString --output text)
export JWT_ISSUER=$(aws --profile ${AwsProfile} secretsmanager get-secret-value --secret-id ${JwtIssuer} --query SecretString --output text)
